.body{
  width:100%;
}
.header_flex{
  position:fixed;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background:#fff;
  z-index:9999;
  top:0;
}
.profile_icon{
  width:20%;
}
.profile_img{
  width:100%;
}
.header_text{
  width:60%;
}
.header_text p{
  text-align: center;
}
.header_search{
  width:20%;
}

.top_profile:nth-of-type(1){
  width:100%;
  margin:100px auto 0;
}
.top_profile{
  width:100%;
  margin:50px auto;
}
.profile{
  position:relative;
}
.profile_mainimg{
  width:100%;
  
  border-radius: 20px;
}
.profile_content{
  position:absolute;
  bottom:0;
  background:rgba(0,0,0,0.5);
  width:100%;
  color:#fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom:20px;
}
.profile_content_flex{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin:0 auto;
  padding:10px 0;
  border-bottom:2px solid#fff;
}

.name_hometown p{
  font-size:25px;
  margin:10px 0;
}
.profile_link{
  width:120px;
}
.profile_button{
  font-size:12px;
  padding:5px 5px;
  background:#fff;
  color:#000;
  border-radius:5px;
}
.profile_link_flex{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-top:10px;
}
.link_img{
  width:50%;
}
.link_img img{
  width:100%;
}
.profile_text{
  width:95%;
  margin:0 auto;
  font-size:20px;
}
.profile_text p{
  word-break: break-all;
  letter-spacing: 1px;
}


.recomend_spot{
  width:95%;
  margin:50px auto;
}
.recomend_spot h2{
  font-size:20px;
  font-weight:bold;
}
.top_spot_flex{
  display:flex;
  justify-content: space-between;
  overflow:scroll;
}
.top_spot_content:nth-of-type(1){
  margin-left:0;
}
.top_spot_content:last-of-type{
  margin-right:0;
}
.top_spot_content{
  width:200px;
  margin:20px 10px;
}


footer{
  position:fixed;
  bottom:0;
  width:100%;
  padding:10px;
  background:#d9d9d9;
}
footer ul{
  width:90%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}